streamlit
streamlit_webrtc==0.45.0
pydub==0.25.1
gradio_client
streamlit-audiorecorder
ffmpeg-python
requests
llama-index
pypdf
langchain
google-generativeai
python-dotenv
langchain
PyPDF2
chromadb
faiss-cpu
langchain_google_genai
